@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: .8px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #1ca9e3;
}

a img {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

a img:hover {
  opacity: .8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 文字
---------------------------------*/
.heading-primary {
  font-family: "Cormorant Garamond", serif;
  font-size: 100px;
  line-height: 1;
  display: inline-block;
  letter-spacing: .2em;
  letter-spacing: .1em;
  color: #cdcdcd;
}

.section-heading {
  margin-bottom: 10px;
  text-align: center;
}

.section-lead {
  margin-bottom: 40px;
  text-align: center;
}

.video2 {
  width: 400px;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  background-color: #fff;
  color: #646464;
}

.section {
  padding: 80px 0;
}

.inner {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  height: 100vh;
  background-image: url("../img/IMG_2302JPG");
  background-size: cover;
}

.header .header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(57, 57, 57, 0.253);
  width: 100%;
  height: 100%;
}

.header .header2 .logo {
  text-align: center;
  margin: 0 auto;
}

.header .header2 .logo .logo-border1 {
  border: 2px solid #fff;
  padding: 10px;
}

.header .header2 .logo .logo-border1 .logo-border2 {
  padding: 10px;
}

.header .header2 .logo .logo-border1 .logo-border2 .logo-border3 {
  padding: 10px;
  background-color: rgba(246, 246, 246, 0.639);
  padding: 100px;
}

.header .header2 .logo .logo-border1 .logo-border2 .logo-name {
  font-family: 'Homemade Apple', cursive;
  font-size: 32px;
  line-height: 1;
  display: block;
  margin-bottom: 5px;
  text-align: center;
  color: #333;
}

.header .header2 .logo .logo-border1 .logo-border2 .logo-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 88px;
  font-weight: normal;
  line-height: 1;
  display: block;
  letter-spacing: .1em;
  color: #333;
}

.header .header2 .logo .logo-border1 .logo-border2 .logo-text {
  font-size: 14px;
  display: block;
  margin-top: 10px;
  text-align: center;
  letter-spacing: .2em;
  color: #333;
}

.hero__footer {
  position: absolute;
  right: 20px;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  height: 145px;
  width: 89px;
}

.hero__scrolltext {
  font-family: "Cormorant Garamond", serif;
  position: absolute;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: rgba(255, 255, 255, 0.7);
  left: -35px;
  top: -5px;
  font-size: 16px;
}

@-webkit-keyframes eee {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  100% {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
}

@keyframes eee {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  100% {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
}

.hero__scrolldown {
  position: absolute;
  top: -1.75rem;
  left: -0.5rem;
  width: 0px;
  height: 9rem;
  border: 0.8px solid #ffffff;
  -webkit-animation-name: eee;
          animation-name: eee;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.hero__scrolldown::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: -2px;
  width: 1px;
  height: 10px;
  border-top: 12px solid #ffffff;
  border-left: 0px solid transparent;
  border-right: 8px solid transparent;
}

/*--------------------------------
グローバルナビ
---------------------------------*/
.gnav {
  z-index: 1;
  font-family: "Cormorant Garamond", serif;
  padding: 30px;
  background-color: #333;
}

.gnav .gnav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gnav .gnav-list .gnav-item {
  padding: 0 40px;
}

.gnav .gnav-list .gnav-link {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: .1em;
  color: #fff;
}

.gnav .gnav-list .gnav-link:hover {
  color: #e388f1;
}

/* iOS対策 */
.ios .gnav-link:hover {
  opacity: 1;
}

.gnav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background-color: #333;
  -webkit-box-shadow: 0 5px 7px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 7px -3px rgba(0, 0, 0, 0.1);
}

/*--------------------------------
小見出し
---------------------------------*/
.subheading {
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  font-family: 'Savoye LET', serif;
  background-color: #e09b9d;
  color: #fff;
}

.subheading2 {
  background-color: #e09b9d;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: 'Savoye LET', serif;
  padding-bottom: 100px;
}

/*--------------------------------
About
---------------------------------*/
.roop-font {
  opacity: 0.5;
  font-size: 10vw;
  color: #ffeeee;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  font-family: "Cormorant Garamond", serif;
}

.fadeInUp {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: 1s;
  transition: 1s;
}

.about-section .inner2 {
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 40px;
  background-color: #ffffff;
}

.about-section .inner2 .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-section .inner2 .profile__image {
  width: 40%;
  height: 450px;
  position: relative;
}

.about-section .inner2 .profile__image .back-box {
  background-color: #e4c199d2;
  height: 271px;
  width: 170px;
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.about-section .inner2 .profile__image .ee {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  /* 中心を基準点に反時計回りに回転する */
  position: absolute;
  bottom: 44px;
  left: -3px;
}

.about-section .inner2 .profile__image .my-image img {
  width: 384px;
  height: 424px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  position: absolute;
  bottom: 23px;
  left: 39px;
}

.about-section .inner2 .profile__image .my-image .Twitter-link {
  position: absolute;
  bottom: 40px;
  right: 20px;
  color: white;
  background-color: #cbcaca;
  padding: 3px 30px;
}

.about-section .inner2 .profile__data {
  margin-left: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-section .inner2 .profile__data dl {
  margin: 40px 0;
}

.about-section .inner2 .profile__data dl dt {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
}

.about-section .inner2 .profile__data dl dd {
  margin-bottom: 30px;
  font-size: 25px;
}

.about-section .inner2 .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.about-section .inner2 .about__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px 17px 0;
  background-color: #cbcaca;
}

.about-section .inner2 .about__item .data dt {
  margin: 15px 0;
}

.about-section .inner2 .about__item .data dd {
  margin-bottom: 40px;
}

.about-section .inner2 .about__item .data dd p {
  margin: 5px;
  font-size: 15px;
}

.about-section .inner2 .about__item .data dd p i {
  font-size: 18px;
}

.about-section .inner2 .about__item .data dd p .fa {
  margin: 0 4px;
}

.about-section .inner2 .about__item .data dd p span {
  margin-left: 5px;
}

.about-section .inner2 .about__item .data__title {
  background-color: #decfcffc;
  position: relative;
  width: 221px;
  height: 26px;
}

.about-section .inner2 .about__item .data__title .w-boder {
  border: 1px solid white;
  position: absolute;
  bottom: 10px;
  width: 103%;
  height: 100%;
}

.about-section .inner2 .about__item .data__title .con {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -12px;
  font-size: 37px;
  font-family: 'Savoye LET', serif;
}

.about-section .inner2 .about__body {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  background-color: white;
  margin-left: 10px;
  padding: 15px;
}

.about-section .inner2 .about__body .data2 dt {
  margin: 15px 0;
}

.about-section .inner2 .about__body .data2 dd {
  margin-bottom: 40px;
}

.about-section .inner2 .about__body .data2 dd p {
  margin: 5px;
  font-size: 15px;
}

.about-section .inner2 .about__body .data2__title {
  background-color: #f7e8e8;
  position: relative;
  width: 221px;
  height: 26px;
}

.about-section .inner2 .about__body .data2__title .w-boder {
  border: 1px solid #c6c6c6;
  position: absolute;
  bottom: 10px;
  width: 103%;
  height: 100%;
}

.about-section .inner2 .about__body .data2__title .con {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -12px;
  font-size: 37px;
  font-family: 'Savoye LET', serif;
}

.about-section .inner2 .about__body .data2 .target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
}

.about-section .inner2 .about__body .data2 .target .term {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 24px -12px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 4px 24px -12px rgba(0, 0, 0, 0.75);
  padding: 8px;
  margin: 5px;
}

.about-section .inner2 .about__body .data2 .target .term__title {
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid;
  font-size: 18px;
}

.about-section .inner2 .about__body .data2 .target .term__text {
  padding: 5px 0;
  font-size: 16px;
}

/*--------------------------------
  Feature
---------------------------------*/
.bg-pink {
  background-color: #e09b9d;
}

.feature-section .inner {
  max-width: 1600px;
  background-color: #fff;
  padding: 90px;
}

.feature-section .feature__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
}

.feature-section .feature__item .feature-image-wrapper .video1 {
  width: 700px;
  position: absolute;
  top: -20px;
  left: -20px;
}

.feature-section .feature__item .bg-pink {
  background-color: #fce7f1;
  width: 700px;
  height: 436px;
  position: relative;
}

.feature-section .feature__item .feature__item__data {
  margin-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feature-section .feature__item .feature__item__data p {
  margin-bottom: 20px;
}

.btn {
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  display: inline-block;
}

.btn.btn-primary {
  cursor: pointer;
  background: #fce7f1;
  border: 2px solid #fce7f1;
  color: #ee76ad;
  border-radius: 5px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.btn.btn-primary:hover {
  border: 2px solid #ee76ad;
  color: #ee76ad;
  background: transparent;
  background: #fff;
}

.feature__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__body__1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px 10px;
}

.feature__body__2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px 10px;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32.31552%;
          flex: 0 0 32.31552%;
  margin-right: 1.52671%;
  margin-bottom: 40px;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-body {
  text-align: center;
}

.works-title {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-text {
  font-size: 10px;
}

.works-url {
  font-size: 10px;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-section .inner {
  max-width: 1000px;
  background-color: #fff;
  -o-object-fit: cover;
     object-fit: cover;
}

.skill-section .inner i {
  font-size: 40px;
}

.skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46%;
          flex: 0 0 46%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.skill-image-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  margin-right: 20px;
}

.skill-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.skill-body p:not(:last-child) {
  margin-bottom: 20px;
}

.skill-title {
  margin-bottom: 3px;
}

.rate {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  height: 20px;
  letter-spacing: .3em;
}

.rate:before,
.rate:after {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  content: "★★★★★";
}

.rate:before {
  color: #ddd;
}

.rate:after {
  overflow: hidden;
  white-space: nowrap;
  color: #f181b4;
}

.rate1:after {
  width: 20px;
}

.rate2:after {
  width: 40px;
}

.rate3:after {
  width: 60px;
}

.rate4:after {
  width: 80px;
}

.rate5:after {
  width: 100px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.contact-list .contact-item {
  width: 100px;
  margin: 0 20px;
  text-align: center;
}

.contact-list .contact-item .fa-github {
  font-size: 56px;
  color: #646464;
}

.contact-list .contact-item .fa-envelope {
  font-size: 34px;
  color: #fff;
  background-color: #646464;
  border-radius: 50%;
  padding: 11px;
}

.contact-list .contact-item .fa-twitter {
  font-size: 37px;
  color: #fff;
  background-color: #646464;
  border-radius: 50%;
  padding: 10px;
}

.contact-list .contact-item .contact-name {
  font-size: 12px;
  display: block;
  margin-top: 5px;
  color: #333;
}

.contact-image {
  width: 50px;
}

.contact-text {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

/*--------------------------------
 Footer
---------------------------------*/
.footer {
  background-color: #333;
}

.footer .inner {
  padding: 30px;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #8c8c8c;
}

.page-top {
  font-size: 12px;
  font-weight: bold;
  display: block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #ffe8f4;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  /* 文字 */
  .heading-primary {
    font-size: 32px;
  }
  /* レイアウト */
  .section {
    padding: 60px 0;
  }
  .section .inner {
    padding: 0 15px;
  }
  .content {
    margin-top: 40px;
  }
  /* ヘッダー */
  .header {
    height: 70vh;
  }
  .logo-name {
    font-size: 16px;
  }
  .logo-title {
    font-size: 40px;
  }
  .logo-text {
    font-size: 10px;
  }
  /* グローバルナビ */
  .gnav-list {
    padding: 0 10px;
  }
  .gnav-link {
    font-size: 12px;
  }
  .gnav-link:hover {
    opacity: 1;
  }
  /* Feature */
  .feature-item {
    display: block;
  }
  .feature-image-wrapper {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  /* Works */
  .works-body {
    text-align: left;
  }
  .works-title {
    font-size: 10px;
  }
  .works-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .works-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  /* About */
  .about-item {
    display: block;
  }
  .profile__image-wrapper {
    width: 100px;
    max-width: 100%;
    margin: 0 auto 20px;
  }
  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }
  .skill-item {
    max-width: 100%;
    margin-bottom: 35px;
  }
  .skill-item:last-child {
    margin-bottom: 0;
  }
  .skill-image-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75px;
            flex: 0 0 75px;
    margin-right: 15px;
  }
  .rate {
    font-size: 15px;
    height: 15px;
  }
  .rate:before,
  .rate:after {
    line-height: 15px;
    height: 15px;
  }
  .rate1:after {
    width: 15px;
  }
  .rate2:after {
    width: 35px;
  }
  .rate3:after {
    width: 55px;
  }
  .rate4:after {
    width: 75px;
  }
  .rate5:after {
    width: 95px;
  }
  /* Contact */
  .contact-item {
    width: 70px;
  }
  /* フッター */
  .footer .inner {
    padding: 20px 0;
  }
}
/*# sourceMappingURL=style.css.map */